# Convoluted gitkeep setting to keep the data directory
# structure intact without tracking its contents.
data/*
!data/.keep
!data/gobi_processed
data/gobi_processed/*
!data/gobi_processed/.keep
!data/incoming
data/incoming/*
!data/incoming/.keep
!data/incoming/processed
data/incoming/processed/*
!data/incoming/processed/.keep

# Build/test artifacts
artifacts/*
!/artifacts/.keep
!artifacts/rspec
!artifacts/rubocop
artifacts/rubocop/*
!/artifacts/rubocop/.keep

/log/*
!/log/.keep

vendor
.bundle

.DS_Store

testfiles/*

secrets/*
!secrets/.keep
